/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* 響應式設計*/
img{
        max-width:100%;
        height:auto;
}
/*從這行以下開始*/

html {
    background:url('https://images.unsplash.com/photo-1503551723145-6c040742065b?ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80') center no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
  }

.wrap{
    background: lightyellow;
    max-width: 800px;
    margin: 50px auto;
    position: relative;
    padding: 20px;

}
.title{
    font-size: 48px;
    font-weight: bold;
    font-family: cursive;
}

.textClass{
    position: absolute;;
    left:280px;
    top:50px;
    height: 40px;
    border: solid 5px #000;
    border-radius:10px;
    padding: 10px;
    font-size: 18px;
  
}

.addMemo{
    position: absolute;
    left:540px;
    top:50px;
    border:0;
    background-color:#003C9D;
    color:#fff;
    border-radius:10px;
    cursor:pointer;
    width: 140px;
    height: 50px;
}
.addMemo:hover{
    color:#003C9D;
    background-color:#fff;
    border:2px #003C9D solid;
    
  }
  .list{
  
    margin-left: 250px;
    line-height: 36px;
    font-size: 36px;
    position: relative;;
    left:-250px;
    top:0px;
    
     
  }
  .list a {
    text-decoration:none;
    margin-right: 10px;
  }
  .list li{
      border-bottom: solid 2px gray;
      margin-top: 20px;
  }



  /*RWD*/
  @media(max-width:1024px){
    
.wrap{

  max-width: 100%;
  margin:30% auto;
  
}


.textClass{
  position: absolute;;
  left:240px;
  top:30px;
  width: 440px;
  height:80px;
  font-size: 36px;

}

.addMemo{
  position: absolute;
  left:720px;
  top:30px;
  width:200px;
  height: 110px;
  font-size: 36px;
}

.list{
  position: relative;;
  left:-250px;
  top:0px;
  line-height: 36px;
  font-size: 36px;
  width: 90%;
  
  
   
}

}

@media(max-width:768px){
    
  .wrap{
    max-width: 90%;
    margin:20% auto;
    
  }
  
  
  .textClass{
    position: absolute;;
    left:240px;
    top:30px;
    width: 300px;
    height:80px;
    font-size: 32px;
  
  }
  
  .addMemo{
    position: absolute;
    left:580px;
    top:30px;
    width:140px;
    height: 110px;
    font-size: 26px;

  }
  
  .list{
    position: relative;;
    left:-200px;
    top:0px;
    line-height: 36px;
    font-size: 36px;
     
  }
  
  }
    
  @media(max-width:414px){
    
    .wrap{
      max-width: 90%;
      margin:20% auto;
      
    }
    
    .logo img{
      padding: 20px;
      width: 100px;
    }
    
    .title{
      font-size: 32px;
  }

    .textClass{
      position: absolute;;
      left:160px;
      top:30px;
      width: 180px;
      height:40px;
      font-size: 24px;
    
    }
    
    .addMemo{
      position: absolute;
      left:180px;
      top:120px;
      width:140px;
      height: 50px;
      font-size: 26px;
  
    }
    
    .list{
      width: 90%;
      position: relative;;
      left:-250px;
      top:0px;
      line-height: 28px;
      font-size: 28px;
       
    }
    }

    @media(max-width:360px){
    
      .wrap{
        max-width: 90%;
        margin:10% auto;
        
      }
      
      .logo img{
        padding: 5px;
        width: 75px;
      }
      
      .title{
        font-size:24px;
    }
  
      .textClass{
        left:115px;
        width: 170px;
        height:20px;
     
      
      }
      .addMemo{

        left:140px;
        top:90px;
        width:140px;
        height: 50px;
        font-size: 20px;
    
      }

      
      .list{
        line-height: 18px;
        font-size: 18px;
         
      }
      }